	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<script src="<%= @url %>"></script>

	<script>
	var map;
	var infowindow;

	var request;
	var service;
	var markers =[];

	if (navigator.geolocation) {
  		navigator.geolocation.getCurrentPosition(initialize);
	} else {
  		error('Geo Location is not supported');
	}

	function initialize(position) {
		var lat = position.coords.latitude
		var long = position.coords.longitude
		var center = new google.maps.LatLng(lat, long);
		map = new google.maps.Map(document.getElementById('map'), {
			center: center,
			zoom: 11
			
		});

		request = {
			location: center,
			radius: 8047,
			types: ['health', 'hospitals']
		};
		infowindow = new google.maps.InfoWindow();

		service = new google.maps.places.PlacesService(map);

		service.nearbySearch(request, callback);

		google.maps.event.addListener(map, 'rightclick', function(event) {
			map.setCenter(event.latLng)
			clearResults(markers)

			var request = {
				location: event.latLng,
				radius: 8047,
				types: ['health', 'hospitals']

			};
			service.nearbySearch(request, callback);
		})
	}

	function callback(results, status) {
		if(status == google.maps.places.PlacesServiceStatus.OK){
			for (var i = 0; i < results.length; i++) {
				markers.push(createMarker(results[i]));
			}
		}
	}

	function createMarker(place) {
		var placeLoc = place.geometry.location;
		var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
		var marker = new google.maps.Marker({
			map: map,
			icon: image,
			position: place.geometry.location,
		});

		var req = { reference: place.reference };
		service.getDetails(req, function(details, status) { 
			google.maps.event.addListener(marker, 'click', function() {
				infowindow.setContent(details.name + "<br />" + details.formatted_address + "<br />" + "<a href='tel:details.formatted_phone_number'>" + details.formatted_phone_number + "</a>");
				infowindow.open(map, this);
			});
		});
		return marker;
	}

	function clearResults(markers) {
		for (var m in markers) {
			markers[m].setMap(null)
		}
		markers = []
	}
		
	google.maps.event.addDomListener(window, 'load', initialize);
	</script>
	<style>
	#map {
		height:500px;
		width:500px;
	}
	</style>

<div id="hotline-container"></div>
<div class="container" id="hotline">
	<h3 style="color: white">Local Hotlines</h3>
	<div id="map">
	</div>
	<br>
	<h3 class="hotlinestyle">National Hotlines</h3>
	<ul>
		<li>
			<label class="hotlinestyle">Immediate Medical Assistance</label>
			<a href="tel:911">911</a>
		</li>
		<br>
		<li>
			<label class="hotlinestyle">Crisis Call Center</label>
			<a href="tel:800-273-8255">800-273-8255</a>
		</li>
		<br>
		<li> 
			<label class="hotlinestyle">National Mental Health Association Hotline</label>
			<a href="tel:800-273-8255">800-273-TALK</a>
		</li>
		<br>
		<li>
			<label class="hotlinestyle">National Suicide Hotline</label>
			<a href="tel:800-784-2433">800-784-2433</a>
		</li>
		<br>
		<li>
			<label class="hotlinestyle">National Hopeline Network</label>
			<a href="tel:800-442-4673">800-442-HOPE</a>
		</li>
	</ul>
</div>
