<h1>Welcome to DStress</h1>

<!-- Register -->
<div class="reglog">
  <h3>Register</h3>

  <form action="/users" method="post">
    <p>
      <label for="user_first_name">First Name: </label>
      <input type="text" name="user[first_name]" id="user_first_name">
    </p>
    <p>
      <label for="user_last_name">Last Name: </label>
      <input type="text" name="user[last_name]" id="user_last_name">
    </p>
    <p>
      <label for="user_email">Email: </label>
      <input type="text" name="user[email]" id="email">
    </p>
    <p>
      <label for="user_handle">Handle: </label>
      <input type="text" name="user[handle]" id="user_handle">
    </p>
    <p>
      <label for="user_password">Password: </label>
      <input type="password" name="user[password]" id="user_password">
    </p>
    <p>
      <label for="user_password_confirmation">Password Confirmation: </label>
      <input type="password" name="user[password_confirmation]" id="user_password_confirmation">
    </p>
    <p>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="submit" value="Register">
    </p>
  </form>
</div>

<!-- Login -->
<div class="reglog">
  <h3>Login</h3>
  <form action="/sessions" method="post">
    <p>
      <label for="email">Email</label>
      <input type="text" id="email" name="user[email]">
    </p>
    <p>
      <label for="password">Password</label>
      <input type="password" id="password" name="user[password]">
    </p>
    <p>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="submit" value="Log In">
    </p>
  </form>
</div>
