<div class="container" id="body">
  <div class="chat">
    <div class="chat_header">
      @chatbot
    </div>
    <div class="chat_body">
      <% (1..20).each do |n| %>
        <p>body <%= n %></p>
      <% end %>
    </div>
    <div class="chat_input">
      <p>say something</p>
    </div>
  </div>

  <div>
<script>
  (function() {
    var cx = '015890396352610423621:e6mogwf48ve';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
  </div>

</div> <!-- end div#body -->
