<style type="text/css">
    #navdiv {
        padding: 0em 10em;
    }
    #maindiv {
        margin: 3em 10em;
        width: 80%; 
        height: 60%;
    }
    .gamesNavbtn {
        background-color: blue;
        color: white;
    }
    .contentdiv {
        display: inline-block;
        vertical-align: top;
    } 
    #dartimage {
        width: 650px; 
        height: 650px;
        border: 10px groove brown;
    }
    .dart {
        /* Chrome, Safari, Opera */
        -webkit-animation-name: splat_nofade;
        -webkit-animation-delay: 0s;
        -webkit-animation-duration: 300s;

        animation-name: splat_nofade;
        animation-delay: 0s;
        animation-duration: 300s;  /* large duration because bug (reappears after end of animation */
    }
    .dart1 { 
        width: 62px;   /* 94 */
        height: 77px;  /* 117 */
    }
    .dart2 { 
        width: 89px;   /* 134 */
        height: 74px;  /* 112 */
    }
    .mud {
        /* Chrome, Safari, Opera */
        -webkit-animation-name: splat_fade;
        -webkit-animation-delay: 0s;
        -webkit-animation-duration: 300s;
        
        animation-name: splat_fade;
        animation-delay: 0s;
        animation-duration: 300s; /* large duration because bug (reappears after end of animation */
    }
    .mud1 { 
        width: 184px;   /* 231 */
        height: 158px;  /* 198 */
    }
    .mud2 { 
        width: 156x;   /* 156 */
        height: 162px;  /* 162 */
    }
    .mud3 { 
        width: 159px;   /* 159 */
        height: 129px;  /* 129 */
    }
    .tomato {
        /* Chrome, Safari, Opera */
        -webkit-animation-name: splat_slide_fade;
        -webkit-animation-delay: 0s;
        -webkit-animation-duration: 300s;

        animation-name: splat_slide_fade;
        animation-delay: 0s;
        animation-duration: 300s;  /* large duration because bug (reappears after end of animation */
    }
    .tomato1 { 
        width: 260px;   /* 292 */
        height: 205px;  /* 230 */
    }
    .tomato2 { 
        width: 120px;   /* 150 */
        height: 108px;  /* 136 */
    }
    .shoe {
        /* Chrome, Safari, Opera */
        -webkit-animation-name: toss_bounce;
        -webkit-animation-delay: 0s;
        

        animation-name: toss_bounce;
        animation-delay: 0s;
        animation-duration: 300s;
    }
    .shoe1 {
        width: 182px;   /* 366 */
        height: 223px;  /* 449 */
    }
    /* Standard syntax */
    @keyframes splat_nofade {
        0%    {width: 350%; height: 350%;}
        0.03% {width: 70%; height: 70%}
        100%  {width: 70%; height: 70%}
    }
    @keyframes splat_fade {
        0%    {width: 275%; height: 275%;}
        0.03% {width: 90%; height: 90%}
        5%    {opacity: 0;}
        100%  {opacity: 0;}
    }
    @keyframes splat_slide_fade {
        0%    {width: 350%; height: 350%;}
        0.02% {width: 70%; height: 70%}
        0.5%  {opacity: 1; padding-top:0em;}
        3.5%  {opacity: 0; padding-top:2em;}
        100%  {opacity: 0; padding-top:2em;}
    } 
    @keyframes toss_bounce {
        0%    {width: 350%; height: 350%;}
        0.02% {width: 50%; height: 50%}
        0.03%  {opacity: 1; padding-top: 0em;}
        0.3%  {opacity: 0; padding-top: 15em; margin-left: 3em;}
        100%  {opacity: 0;}
    } 
</style>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    var x_adjust = -73;
    var y_adjust = -75;
    var totalObjects = 0;
    var MAXTOTALOBJECTS = 100;
    var throwObjects = 
    { 
        "Dart1" :  {   "imageFilename":"Dart-w-shadow-small.png",
                            "x_offset":63+x_adjust, 
                            "y_offset":6+y_adjust,
                            "cssstylename": "dart dart1",
                            "width":94,   /* 94 */
                            "height":117  /* 117 */
                    },
        "Dart2" :  {   "imageFilename":"Dart-w-shadow-small2.png",
                        "x_offset":2+x_adjust, 
                        "y_offset":7+y_adjust,
                        "cssstylename": "dart dart2",
                        "width":134,  /* 134 */
                        "height":112  /* 112 */
                    },
        "Mud1" :    {   "imageFilename":"mud-splatter1.png",
                        "x_offset":-27+x_adjust, 
                        "y_offset":-5+y_adjust,
                        "cssstylename": "mud mud1",
                        "width":231,  /* 231 */
                        "height":198  /* 198 */
                    },
        "Mud2" :    {   "imageFilename":"mud-splatter2.png",
                        "x_offset":+x_adjust, 
                        "y_offset":-10+y_adjust,
                        "cssstylename": "mud mud2",
                        "width":156,  /* 156 */
                        "height":162  /* 162 */
                    },
        "Mud3" :    {   "imageFilename":"mud-splatter3.png",
                        "x_offset":-5+x_adjust, 
                        "y_offset":-5+y_adjust,
                        "cssstylename": "mud mud3",
                        "width":159,  /* 159 */
                        "height":129  /* 129 */
                    },
        "Tomato1" : {   "imageFilename":"tomato-splatter-small1.png",
                        "x_offset":2+x_adjust, 
                        "y_offset":0+y_adjust,
                        "cssstylename": "tomato tomato1",
                        "width":180,  /* 180 */
                        "height":142  /* 142 */
                    },
        "Tomato2" : {   "imageFilename":"tomato-splatter-small2.png",
                        "x_offset":1+x_adjust, 
                        "y_offset":7+y_adjust,
                        "cssstylename": "tomato tomato2",
                        "width":150,  /* 150 */
                        "height":136  /* 136 */
                    },
        "Shoe" :    {   "imageFilename":"converse-shoe.png",
                        "x_offset":1+x_adjust, 
                        "y_offset":7+y_adjust,
                        "cssstylename": "shoe shoe1",
                        "width":366,  /* 366 */
                        "height":449  /* 449 */
                    },
    }
    // var divXOffset = ; //px
    // var divYOffset = ; //px
    $(document).ready(function(){
        $("#dartboardgamebtn").click(function(e) {
            ;
        });

        $("#dartimage").click(function(e){
            var offset = $(this).offset();
            if (totalObjects <= MAXTOTALOBJECTS) {
                totalObjects+=1;
                clicked(e, offset);
            }
        });

        $("#resetbtn").click(function(e){
            $("#dartimage").html("");
            totalObjects = 0;
        });
    });
    function clicked(e, offset)  {
        //var relativeX = (e.pageX - offset.left);
        //var relativeY = (e.pageY - offset.top);
        //alert(relativeX+':'+relativeY);
        
        var objectname = "";
        var selectOptions = document.getElementById("ammotype").options;
        var selectedIndex = document.getElementById("ammotype").selectedIndex;
        var type = selectOptions[selectedIndex].text;
        
        switch (type) {
            case "Mud": {
                var r = Math.floor(Math.random()*5)+1;
                if (r == 1) objectname = "Mud1";
                else if (r >= 2 && r <= 3) objectname = "Mud2";
                else objectname = "Mud3"; 
                break;
            }
            case "Tomatoes": {
                var r = Math.floor(Math.random()*2)+1;
                if (r == 1) objectname = "Tomato1";
                else objectname = "Tomato2"; 
                break;
            }
            case "Shoes": {
                objectname = "Shoe";
                break;
            }
            default : { //"Darts"
                var r = Math.floor(Math.random()*2)+1;
                if (r == 1) objectname = "Dart1";
                else objectname = "Dart2";
                break;
            }
        }
        var obj = throwObjects[objectname];
        var objXPosEM = (e.pageX - offset.left + obj["x_offset"]) *.065 - Math.pow(e.pageX, 1.001) * .001;
        var objYPosEM = (e.pageY - offset.top + obj["y_offset"]) *.065 - Math.pow(e.pageY, 1.001) * .001;
        var objImageFilename = obj["imageFilename"];
        var objCSSstylename = obj["cssstylename"];
        var objWidth = obj["width"];
        var objHeight = obj["height"];
        
        $("#dartimage").append("<div style='position:absolute; left:" + objXPosEM + "em; top:" + objYPosEM + "em;'><img src='/assets/" + objImageFilename + "' class='" + objCSSstylename + "' style='width:" + objWidth +"; height:" +  objHeight + "'></div>");
        
    }
</script>

<div id="navdiv">
    <button id="dartboardgamebtn" class="gamesNavbtn">Dartboard</button>
</div>
<div id="maindiv">
    <div class="contentdiv" id="dartimage" style="background:url('<%= @imgurl %>'); position:relative; background-size: 100% 100%; background-repeat: no-repeat;">
    </div>
    <div class="contentdiv">
        <label for="ammotype">Ammo type</label><br>
        <select id="ammotype">
            <option selected="selected" value="Darts">Darts</option>
            <option value="Mud">Mud</option>
            <option value="Tomatoes">Tomatoes</option>
            <option value="Shoes">Shoes</option>
        </select>
        <p><button id="resetbtn">Clear board</button></p>
        <p>
            <form action="/images" enctype="multipart/form-data" id="edit_pic" method="post">
                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                <label for="image[dartboard]">Custom image:</label>
                <input id="image_dartboard" name="image[dartboard]" type="file">
                <br>
                <input name="commit" type="submit" value="Upload">
            </form>
        </p>
    </div>
</div>