<h2>Playing Bossa...</h2>
<audio id="myAudio">
<source src="/assets/bossa-683aba635d7ad856386c1c7946d28b10.mp3"
         type='audio/mp3'>
 <source src="/assets/bossa-683aba635d7ad856386c1c7946d28b10.mp3"
         type='audio/ogg; codecs=vorbis'>
 Your user agent does not support the HTML5 Audio element.
</audio>
<script>
function aud_play_pause() {
  var myAudio = document.getElementById("myAudio");
  if (myAudio.paused) {
    myAudio.play();
  } else {
    myAudio.pause();
  }
}
</script>

<style type="text/css">
    #background {
        width: 1500px;  /* 2500px */
        height: 709px;  /* 1181px */
    }
    .pulse1{
        animation: pulse1 infinite ease-in-out 15s; /*30s*/
    }

    .pulse2{
        animation: pulse1 infinite ease-in-out 7s; /*14s*/
    }
    @keyframes pulse1{
        from {opacity: 0;}
        65% {opacity: 1;}
        to {opacity: 0;}    
    }

    @keyframes pulse2{
        from {opacity: 1;}
        65% {opacity: 0;}
        to {opacity: 1;}    
    }
</style>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<button type="button" onclick="aud_play_pause()">Play/Pause</button>
<p><a href="/media">Back</a></p>
<div id="background" style="background-image:url('/assets/jazz-club.jpg'); position:relative; background-size: 100% 100%; background-repeat: no-repeat;">
    <div class="pulse1" style="width: 683px; height: 709px; position: absolute; left:817px; top:0px; background: url('/assets/jazz-club-stage-bluetone.png');"></div>
    <div class="pulse2" style="width: 538px; height: 213px; position: absolute; left:226.5px; top:386px; background: url('/assets/jazz-club-table-candles.png');"></div>
</div>
