<h1>All About Dogs!</h1>
<img src="http://loremflickr.com/700/500/puppy" />
<form action="/media/dogs" method="get">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<input type="submit" value="Another one, please!">
</form>
<br>
<a href="/media">Back</a>
