<h1>How would you like to DStress?</h1>
<h3>Music</h3>	
	<ul>
		<li><a href="/media/med">Meditation</a></li>
		<li><a href="/media/bossa">Cool Bossa Nova</a></li>
		<li><a href="/media/cafe">Cafe / Bookstore</a></li>
	</ul>
<h3>Pictures of Cats</h3>
<a href="/media/cats">Go Look at Cats</a>
<h3>Pictures of Dogs</h3>
<a href="/media/dogs">Go Look at Dogs</a>