// Place all the styles related to the Chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.chat {
  width: 800px;
  height: 600px;
  margin: 40px auto;
  color: white;
}

div.chat_header {
  width: 800px;
  height: 50px;
  border: 1px solid #eee;
  border-radius: 7px 7px 0 0;
  padding: 10px;

}

div.chat_body {
  width: 800px;
  height: 500px;
  border: 1px solid #eee;
  overflow: auto;
  padding: 10px;
}

div.chat_input {
  width: 800px;
  height: 50px;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 0 0 7px 7px;
}

p.user {
  text-align: center;
  background-color: #007BB6;
  color: white;
  height: 30px;
  border-radius: 8px;
  float: right;
  padding: 4px;
}

p.bot {
  text-align: center;
  background-color: #525252;
  color: white;
  height: 30px;
  border-radius: 8px;
  float: left;
  padding: 4px;
}

// push content to the bottom of the div
.bottom_aligner {
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
  width: 0px;
}

#chatpage2:before{
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)

  ), url(zen_bamboo.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
}

#chatpage {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)

  ), url(zen3.jpg);

  //background: url(zen_bamboo.jpg) no-repeat;
  position:relative;
  background-size: 100% 100%;
  width: 1420px;
  height: 900px;

}

